.input {
  width: 100%;
  padding: 8px 15px 9px;
  outline: none;
  border: 1px solid #383838;
  color: #383838;
  border-radius: 2px;

  &:focus {
    border: 1.5px solid #4ef691;
    color: #333333;
  }

  &.error {
    border: 1.5px solid #ff5c5c;
    color: #ff5c5c;
  }
}

.block {
  position: relative;
  padding-bottom: 20px;
}

.errorText {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: #ff5c5c;
}