.bg {
  background: #ff6f6f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.title {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}

.logout {
  padding-right: 15px;
}